<!DOCTYPE html>
<html>
    <head>
        <title>{{cookiecutter.Title}}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    </head>
    <body>
        <h1>Hello World!</h1>
    </body>
</html>
